{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block content %}
<h2>Strona nie została znaleziona</h2>

<div style="text-align: justify;">
    Być może szukana przez Ciebie strona była jedną z poniższych?
</div>
<div>
    <ul>
        <li style="text-align: justify;"><b>Sygnały</b></li>
    </ul>
    <div>
        <ol>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/sygnal" target="_blank">Czym jest
                sygnał?</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/sygnaly-zespolone" target="_blank">Sygnały
                zespolone</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/sygnaly-podstawowe" target="_blank">Podstawowe
                sygnały</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/parametry-sygnalow" target="_blank">Parametry
                sygnału</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/probkowanie-aliasing" target="_blank">Próbkowanie
                i aliasing</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/sygnal-zadania" target="_blank">Zadania do
                zrealizowania w języku Python</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/sygnal-quiz" target="_blank">Quiz</a></li>
        </ol>
    </div>
    <ul>
        <li style="text-align: justify;"><b>Analiza częstotliwościowa</b></li>
    </ul>
    <div>
        <ol>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/szereg-fouriera" target="_blank">Rozwinięcie
                sygnału w szereg Fouriera</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/cft" target="_blank">Całkowe przekształcenie
                Fouriera</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/dft" target="_blank">Dyskretne
                przekształcenie Fouriera</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/widmo" target="_blank">Widmo sygnału</a>
            </li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/analiza-czestotliwosciowa-zadania"
                                                target="_blank">Zadania do zrealizowania w języku Python</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/analiza-czestotliwosciowa-quiz"
                                                target="_blank">Quiz</a></li>
        </ol>
    </div>
    <ul>
        <li style="text-align: justify;"><b>Filtracja sygnałów</b></li>
    </ul>
    <div>
        <ol>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/przeksztalcenie-z" target="_blank">Transformata
                Z</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/filtry-cyfrowe" target="_blank">Filtry
                cyfrowe</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/fir" target="_blank">Filtr typu FIR</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/iir" target="_blank">Filtr typu IIR</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/filtry-zadania" target="_blank">Zadania do
                zrealizowania w języku Python</a></li>
            <li style="text-align: justify;"><a href="http://127.0.0.1:5000/filtry-quiz" target="_blank">Quiz</a></li>
        </ol>
    </div>
    <ul>
        <li style="text-align: justify;"><b>Sygnał EKG</b></li>
    </ul>
    <div style="text-align: justify;">
        <ol>
            <li><a href="http://127.0.0.1:5000/qrs" target="_blank">Detekcja zespołu QRS</a></li>
            <li><a href="http://127.0.0.1:5000/qrs-python" target="_blank">Zadanie do zrealizowania w języku Python</a>
            </li>
        </ol>
    </div>
</div>


{% endblock %}