{% extends 'base.html' %}

{% block content %}
    <H1> {{ Title }} </H1>
    <div style="text-align: justify;">
        Strona powstała w ramach nauki programowania w języku Python.<br/>
        <br/>
        Użyte technologie:<br/>
        <br/>
        <ul>
            <li>Flask</li>
            <li>Numpy</li>
            <li>Scipy</li>
            <li>Matplotlib.pyplot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>CodeMirror</li>
        </ul>
        <div>
            Wykorzystane źródła:
        </div>
        <div>
            <ol>
                <li>Tomasz P. Zieliński - <i>Cyfrowe przetwarzanie sygnałów. Od teorii do zastosowań</i></li>
                <li>Jerzy Szabatin - <i>Przetwarzanie sygnałów</i></li>
                <li>Jacek Izydorczyk, Grzegorz Płonka, Grzegorz Tyma - <i>Teoria sygnałów. Wstęp</i></li>
                <li>Steven W. Smith - <i>Cyfrowe przetwarzanie sygnałów. Praktyczny podręcznik dla inżynierów i
                    naukowców</i></li>
                <li>Tomasz Pięciak - Konspekty laboratoryjne z przedmiotów: <i>Cyfrowe przetwarzanie sygnałów</i> oraz
                    <i>Dedykowane algorytmy diagnostyki medycznej</i></li>
            </ol>
            <div>
                <i><br/></i></div>
        </div>
        <div>
            Linki
        </div>
        <div>
            <ol>
                <li><b><a href="https://github.com/aleksandraszum/" target="_blank">Github</a></b></li>
                <li><b><a href="https://github.com/aleksandraszum/dsp_app" target="_blank">Github - Projekt</a></b></li>
                <li><b><a href="https://www.linkedin.com/in/aleksandra-szum-921427160/" target="_blank">LinkedIn</a></b>
                </li>
            </ol>
            <div>
                Licencja: MIT.
            </div>
        </div>
    </div>

{% endblock %}
