{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <H1> {{ Title }} </H1>

    <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

        <div style="text-align: justify;">
        Projekt powstał w ramach nauki programowania w języku Python wraz z wykorzystaniem takich narzędzi jak: Flask,
        Numpy, Matplotlib, Scipy.
    </div>
    <div style="text-align: justify;">
        <br/></div>
    <div style="text-align: justify;">
        Treści zaprezentowane dotyczą przetwarzania sygnałów cyfrowych oraz biomedycznych. Są to zagadnienia, których
        uczyłam się na kierunku Inżynieria Biomedyczna.
    </div>

{% endblock %}
